body,
html {
  background-image: url("../img/rotatephone.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 105vh;

  * {
    visibility: hidden;
  }
}

@font-face {
	font-family: "8bit";
	src: url('../font/8-BIT.TTF');
}

@media (min-width:478px) {
  * {
    visibility: inherit!important;
  }

  body {
    background-image: url("../img/bgi.jpg");
    background-size: cover;
    background-position: bottom;

    figure {
      margin: 0;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
  // BEGIN
  #modalbg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #00000099;
    z-index: 5;
    .welcome{
      text-align: center;
      position: absolute;
      background-image: url("../img/bgmodal.png");
      border: 5px solid black;
      margin-left:50%;
      width: 300px;
      left: -150px;
      top: 20%;
      height:200px;
      z-index: 6;
      h1{
        padding-top: 10px;
        text-shadow: 2px 2px 4px black;
        font-family: "8bit";
        color: yellow;
      }
      input{
        border: 2px solid black;
        width: 70%;
        text-align: center;
        font-family: "8bit";
      }
      input:last-child{
        width: 40%;
        background-color: black;
        color: white;
        margin-top: 5px;
        &:hover{
          color: black;
          background-color: white;
        }
      }
    }
  }
  #header {
    .name {
      h3 {
        font-weight: bold;
        font-size: 30px;
        color: yellow;
        text-shadow: 0 0 1px black;
        font-family: "8bit";
      }

      .vs {
        width: 50px;
        position: absolute;
        margin-left: 50%;
        left: -25px;
      }
    }

    .lifebars {
      .lifebar {
        background-color: red;
        width: 30%;
        height: 20px;
        border: 1px solid yellow;

        #greencomputer,
        #greenuser {
          background-color: green;
          height: 100%;
          width: 100%;
          transition: 1s;
          padding: 0 0 !important;
        }
      }
    }

    .point {
      color: yellow;
      font-weight: bold;
      margin: 0 10px;
      text-shadow: 0 0 1px black;

      p {
        font-size: 34px;
        margin-bottom: 0;
        font-family: "8bit";

      }
    }
  }

  #main {
    .fightreplay {
      h2{
        display: none;
        z-index: 4;
        background-color:  black;
        color: white;
        padding: 5px 10px 7px 10px;
        font-family: "8bit";
        border-radius: 9px;
        border: 1px solid yellow;
        cursor: pointer;
        &:hover{
          color: #000;
          background-color: white;
        }
      }
    }

    .fighter {
      position: absolute;
      bottom: 20px;
      width: 100%;
      .fighteffect{

      }

      .userAndChoose {
        .choose {
          display: flex;
          margin-left: 10px;

          .pfc {
            margin-bottom: 10px;
            animation: brillance;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            width: 25*1.3px;
            height: 40*1.3px;
            margin-left: 18px;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;
            &:hover{
              box-shadow: 0 0 6px 1px yellow;
            }
          }
        }
      }

      .computerbody,
      .userbody {
        bottom: 10px;
        width: 80px;
        height: 120px;
      }

      .computerAndCit {
        #citBender {
          position: absolute;
          right: 0;
          z-index: 2;
          font-size: 12px;
          font-weight: bold;
          font-style: italic;
          background-color: white;
          border-radius: 15px;
          width: 30%;
          margin-right: 10px;
          padding: 5px;
          display: none;
          margin-bottom: 0;
        }

        #computerBodyFig{
          position: absolute;
          right: 15%;
          #computerbody{
            background-color: black;
          }
        }
        #ballfig{
          position: absolute;
          z-index: 4;
          right: 55%;
          bottom: 15%;
          transform: scasleX(90px);
          #ball{
            display: none;
          }
        }
        .computerHandFig{
          position: absolute;
          border-radius: 5px;
          box-shadow: 0 0 3px 1px grey;
          right: 35%;
          width: 25*1.3px;
          height: 40*1.3px;
          display: none;
          .computerHand{
            border-radius: 5px;
          }
        }
      }
    }
  }
}
@keyframes brillance {
  0% {
    box-shadow: 0;
  }

  50% {
    box-shadow: 0 0 6px 1px yellow;
  }

  100% {
    box-shadow: 0;
  }
}
//end media queries 500w
@media (min-width:700px) {

  #header {
    margin-top: 10px;

    .name {
      .vs {
        width: 70px;
      }
    }
  }
  #main {
    .fighter {
      .userAndChoose{
        .choose{
          .pfc{
            width: 50px;
            height: 72px;
          }
        }
      }
      .computerbody,
      .userbody {
        width: 120px;
        height: 250px;
      }
      .computerAndCit {
        #citBender {
          font-size: 20px;
          p{
          }
        }
        .computerHandFig{
          width: 50px;
          height: 72px;
        }
      }
    }
  }
}
@media (min-width:1200px) {
  #header {
    .name {
      .vs {
        width: 100px;
      }
    }
  }

  #main {
    .fighter {
      #ballfig{
        bottom: 30%!important;
      }
      .computerbody,
      .userbody {
        width: 170px;
        height: 290px;
      }
      .computerHandFig{
        width: 170px;
        height: 290px;
      }
    }
  }
}
