body {
  background-image: url("../img/rotatephone.png");
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;

  *{
    visibility: hidden;
  }
}
@media (min-width:500px) {
  body {
    background-image: url("../img/bgi.jpg");
    background-size: cover;
    background-position: 0 10%;
  }

  img {
    width: 100%;
    height: 100%;
  }

  figure {
    margin: 0;
  }
  // BEGIN
  #header {
    .name {
      h3 {
        padding-top: 10px;
        font-weight: bold;
        font-size: 30px;
        color: yellow;
      }
    }

    .lifebars {
      .vs {
        width: 80px;
      }

      .lifebar {
        background-color: red;
        width: 400px;
        height: 20px;
        border: 1px solid yellow;

        #greencomputer,
        #greenuser {
          background-color: green;
          height: 100%;
          width: 90%;
        }

        #greencomputer {}
      }
    }
  }
}
